@page
@model Cinemagic.Pages.Members.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>מנויים</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">
        צור משתמש
        </a>

</p>

<form>
    <div>
        <p> 
            חיפוש מנוי:
            <input type="text" name="SearchString" />
            <input type="submit" value="חיפוש" class="btn btn-primary" />
            <a asp-page="./Index">חזרה לרשימה המלאה</a>
        </p>

    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].IdintityCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].BirthDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Member) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdintityCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MemberID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MemberID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MemberID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
