@page
@model Cinemagic.Pages.Series.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Series Details</h1>

<div class="movie-details-container">
    <div class="movie-image">
        <img src="~/Images/SerieIMG/@Model.Serie.Image" alt="@Model.Serie.SerieName" style="width: 150px; height: 150px; border-radius: 10px;" /> 
    </div>

    <div class="movie-info">
        <p><strong>Genre:</strong> @Model.Serie.SerieGenre</p>
        <p><strong>Description:</strong> @Model.Serie.SerieDescription</p>
        <p><strong>Release Date:</strong> @Model.Serie.ReleaseDate.ToString("dd/MM/yyyy")</p>
        <p><strong>Age Rating:</strong> @Model.Serie.AgeRate</p>
        <p><strong>Price:</strong> @Model.Serie.SeriePrice ₪</p>
    </div>
</div>

<!-- Purchase Button -->
<div class="purchase-button-container">
    <a asp-page="/Purchases/CreateSerieP" asp-route-movieid="@Model.Serie.SerieID" class="btn btn-primary">Buy Now</a>
</div>

<div>
    @* <a asp-page="./Edit" asp-route-id="@Model.Serie.SerieID" class="btn btn-primary mt-3">Edit</a>
    <a asp-page="./Delete" asp-route-id="@Model.Serie.SerieID" class="btn btn-danger mt-3">Delete Series</a> *@
    <a asp-page="./Index" class="btn btn-secondary mt-3">Back to List</a>
</div>

