@page
@model Cinemagic.Pages.Movies.DeleteModel
@{
    ViewData["Title"] = "Delete Movie";
}

<h1>Delete Movie</h1>
<h3>Are you sure you want to delete this movie?</h3>

<div>
    <h4>Movie Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Image</dt>
        <dd class="col-sm-10">
            <img src="~/Images/MovieIMG/@Model.Movie.Image" alt="@Model.Movie.MovieName" style="width: 150px; height: 150px;" />
        </dd>

        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Movie.MovieName</dd>

        <dt class="col-sm-2">Genre</dt>
        <dd class="col-sm-10">@Model.Movie.MovieGenre</dd>

        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Movie.MovieDescription</dd>

        <dt class="col-sm-2">Release Date</dt>
        <dd class="col-sm-10">@Model.Movie.ReleaseDate.ToShortDateString()</dd>

        <dt class="col-sm-2">Age Rating</dt>
        <dd class="col-sm-10">@Model.Movie.AgeRate</dd>

        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Movie.MoviePrice ₪</dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Movie.MovieID" />
        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure?');" />
        <a asp-page="./Index" class="btn btn-secondary ms-2">Cancel</a>
    </form>
</div>
