@page
@model Cinemagic.Pages.Purchases.IndexModel

@{
    ViewData["Title"] = "Purchases";
}

<div class="container mt-5">
    <div class="card shadow rounded">
        <div class="card-header bg-dark text-white">
            <h4 class="mb-0">Purchases</h4>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between mb-4">
                @if (Model.IsAdmin)
                {
                    <a asp-page="Create" class="btn btn-primary">
                        New Purchase
                    </a>
                }

                <form method="get" class="d-flex align-items-center">
                    <label for="SearchString" class="mr-2">Search Purchase:</label>
                    <input type="text" name="SearchString" id="SearchString" class="form-control mr-2" />
                    <input type="submit" value="Search" class="btn btn-primary" />
                    <a asp-page="./Index" class="btn btn-link ml-2">Back to Full List</a>
                </form>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Member ID</th>
                        <th>Email</th>
                        <th>Purchase Date</th>
                        <th>Movie</th>
                        <th>Series</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Purchase)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Members.IdintityCard)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.PurchaseDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.Movies.MovieName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Series.SerieName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Total)</td>
                            <td>
                                @if (Model.IsAdmin)
                                {
                                    <a asp-page="./Edit" asp-route-id="@item.PurchaseID" class="btn btn-warning btn-sm">Edit</a>
                                    <a asp-page="./Details" asp-route-id="@item.PurchaseID" class="btn btn-info btn-sm">Details</a>
                                    <a asp-page="./Delete" asp-route-id="@item.PurchaseID" class="btn btn-danger btn-sm">Delete</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
